/* Color Theme Swatches in Hex */
.acentos2 {  color: #3350A6; }
.acentos3 { color: #0554F2; }
.fondo-acentuado { background-color: #1374F2; }
.background { background-color: #F2F2F2; }
.acentos1 { color:#0DD965; }

/*fonts */
.raleway{Font-Family: 'Raleway', Sans-Serif;
}
.openS{Font-Family: 'Open Sans', Sans-Serif;
}

/*elements*/
body{
   color:#3350A6;
   padding: 15px ;
}
h1{
    color: #F2F2F2;
    text-align:center;
    font-weight: bold;
    font-size: 50px;
       padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    opacity: 0.8;
}
h2{
    text-align: center;
    padding: 5px;
    margin: 0;
    font-size: 35px;

}
h3{
    font-size: x-large;
    font-weight: bold;
}
p{
    font-weight: 200;
}
a{
    font-size: larger;
    cursor: pointer;
    font-weight: bolder;
    text-decoration:none;
    border: 2px dotted #88C9F2;

}
a:hover{
     border: 3px dotted slateblue;
}
section{
    display:flex;
    flex-wrap: nowrap;
    border: 3px solid #0554F2;
    border-radius: 25px;
    margin: 40px 40px;
    justify-content: space-between;
}
figure{
    flex-basis: 40%;
    flex-shrink: 1;

}
article{
    padding:0px 35px 0 0;
    margin: 15px 0px;
    text-align: justify;
    flex-shrink: 2;
}
footer{
    color:#F2F2F2;
    font-size: large;
    text-align: center;
    padding:5px;
    margin: 0;
    opacity: 0.8;
  }
  li{
    display: inline;
    text-align: center;
}
ul{
    margin: auto;
}
img{
    border-radius: 40px;
     margin: 5px;
    
    width:80%;
    
}
ul{
    list-style:circle ;
    line-height: 25px;
}

/* Empieza el breadcrumb */
    .breadcrumb{
    padding-left: 0%;
    margin: 25px 0;
    }
    .breadcrumb ul{
    margin-left: 0%;
    display:inline;
     }
    .breadcrumb li{
    
   
     }    
    .breadcrumb a {
        text-decoration: none;
        position: relative;
        height: 20px;
        text-align: center;
        margin-right: 15px;
        padding:10px;
        border: 2px solid #1374F2;
        border-radius: 15px;
        margin: 10 ;    
        ;     
      }
    .breadcrumb a::after {
        left: 100%;
        border-color: inherit;
        border-left-color: darkcyan;

      }
    .breadcrumb a::before {
        left: -10px;
        border-left-color:transparent;
     
      }
    .breadcrumb a:hover{
      color: #0554F2;
      border: 3px solid #1374F2;
    }
/*Termina el Breadcrumb*/


/*classes*/
.lista{
    display: block;
    text-align: left;
    list-style: square;
}

.Index li{
    text-align: center;
    display:inline;
    
}
.Index{
    padding:5px;
    font-size: larger;
    text-align: center;
}

