/* Color Theme Swatches in Hex */
.acentos2 { color: #D955AA; }
.acentos3 { color: #F25ECB; }
.fondo-acentuado { color: #88C9F2; }
.background { color: #7EBFD9; }
.acentos1 { color: #F29B30; }

/*fonts */
.raleway{Font-Family: 'Raleway', Sans-Serif;
}
.openS{Font-Family: 'Open Sans', Sans-Serif;
}


body{
   background-color: #7EBFD9;
   color:#fff;
   padding: 15px ;
}

h1{
    text-align:center;
    font-weight: bold;
    font-size: 50px;
    background-color: #F29B30;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
h2{
    text-align: center;
    padding: 5px;
    margin: 0;
    font-size: 35px;

}
h3{
    color: #D955AA; 
    font-size: x-large;
    font-weight: bold;
}

a{
    font-size: larger;
    cursor: pointer;
    font-weight: bolder;
    text-decoration:none;
    border: 2px dotted #88C9F2;

}
a:hover{
     border: 3px dotted slateblue;
}
section{
    display:flex;
    border-top: 3px dotted slategrey;
    border-bottom: 3px dotted slategray;
    margin: 40px 40px;
}
figure{
    flex-basis: 40%;

}
article{
    padding:0px 35px 0 0;
    margin: 15px 0px;
    text-align: justify;
}
footer{
    text-align: center;
    padding:15px;
    margin: 0;
    background-color: #F29B30;
}

/* Empieza el breadcrumb */
    .breadcrumb{
    padding-left: 0%;
    margin: 25px 0;
    }
    .breadcrumb ul{
    margin-left: 0%;
    display:inline;
     }
    .breadcrumb li{
    list-style: none;
   
     }    
    .breadcrumb a {
        color: #fff;
        background: #F29B30;
        text-decoration: none;
        position: relative;
        height: 20px;
        text-align: center;
        margin-right: 15px;
        padding:5px;
        border: 2px solid #F29B30;
        border-radius: 5px;
        margin: 10 ;    
        box-shadow: 4px 2px 1px slategray ;     
      }
    .breadcrumb a::after {
        left: 100%;
        border-color: transparent;
        border-left-color: darkcyan;

      }
    .breadcrumb a::before {
        left: -10px;
        border-left-color:transparent;
     
      }
    .breadcrumb a:hover{
      border: 5px solid transparent;
      color: lightgray;
    }
     /*Termina el Breadcrumb*/
img{
    border-radius: 40px;
     margin: 5px;
    
    width:80%;
    
}

.mainArt{
    background-color: #88C9F2;
}


.Index li{
    position: relative;
    text-align: center;
    display:inline;
}
.Index{
    display: inline;
    padding:5px;
    font-size: larger;
    text-align: center;
}
li{
    display: inline;
    text-align: center;
}
ul{
    margin: auto;
}

