body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/984/361/original/abstract-modern-pattern-background-white-and-grey-geometric-texture-art-illustration-free-vector.jpg);
}
h1{
    text-align:center;
    font-weight: bold;
    font-size: x-large;
    background-color: lightgray;
    opacity: 0.8;
}
.helado{
    margin:auto;
}