.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
   

  }
  
  .nav-button {
    background-color: #0297DB; 
    width: 80%;
    height: 100%;

    padding:1rem;
    color: white;
    font-size: 3rem;
    border-style: none;

  }