.Track {
    display: flex;
    align-items: left;
    margin: 10px;
  }
  
  .Track-information {
    flex-grow: 1;
  }
  
  .Track-information h3 {
    margin: 0;
    color:aliceblue;
  }
  
  .Track-information p {
    margin: 0;
    color:skyblue;
  }
  
  .Track button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(19, 88, 116);
    color: white;
    cursor: pointer;
  }
  
  .Track button:hover {
    opacity: 0.8;
  }